*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Environment files
.env
.env.*
env.json

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# api-url
api-url.md